@font-face {
  font-family: Starwars;
  src: url(Distant-Galaxy/DISTGRG_.ttf);
  font-weight: bold;
}
body{
  background-image: url('http://wallpapercave.com/wp/gfwPusm.jpg');
  /*background-repeat: no-repeat;*/
  height: 80vw;
  font-family: Starwars;
  color: white;
}
header{
  height: 100px;
  font-size: 90px;
  color: gold;
  text-align: center;
}
#falcon{
  /*display: inline-block;*/
  float: left;
  width:23%;
  margin-top: 18vw;
}
#tie{
  float: right;
  width: 23%;
  margin-top: 15vw;
}
#gameBoard{
  /*display: inline-block;*/
  background-color: black;
  padding-top: 40px;
  width: 49%;
  height: 40vw;
  margin: 0 auto;
  position: relative;
  border: 20px solid gold;
  border-radius: 40px;
}

#blackjack_table {
    padding: 0;
    margin:  0 auto;
    display: block;
    width: 300px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
button{
  position: absolute;
  height: 60px;
  width: 90px;
  border: 1px solid black;

  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
  left: 50px;
  font-family: Starwars;
}
#Play{
top: 240px;
}
#Deal{
top: 240px;
}
#Hit{
top: 240px;
}
#Stay{
top: 180px;
}
li {
  position: absolute;
  border: 1px solid black;
}
li img {
  max-width:80%;
  height:auto;
}
#player{
  position: relative;
  top:200px;
}
#dealer{
  position: relative;
  top:10px;
}
li:first-of-type{
  left: 10%;
  top: 5px;
  margin: 0 auto;
  transition: all 1s;
}
li:nth-of-type(2){
  left: 20%;
  top: 5px;
  margin: 0 auto;
  transition: all 1s;
  }
  li:nth-of-type(3){
  left: 30%;
  top: 5px;
  margin: 0 auto;
  transition: all 1s;
  }
  li:nth-of-type(4){
  left: 40%;
  top: 5px;
  margin: 0 auto;
  transition: all 1s;
  }
  li:nth-of-type(5){
  left: 50%;
  top: 5px;
  margin: 0 auto;
  transition: all 1s;
  }
  li:nth-of-type(5){
  left: 60%;
  top: 5px;
  margin: 0 auto;
  transition: all 1s;
  }
  #win{
    font-size: 30px;
    height: 50px;
    color: white;
    top: 188px;
    position: relative;
    text-align: center;
  }
  #credits{
    font-size: 20px;
    right: -20px;
    top:400px;
    display: inline-block;
    position: relative;
  }
  #bet{
    font-size: 20px;
    float: left;
    left: 440px;
    top:457px;
    display: inline;
    position: absolute;
  }
  #dealer_total{
   margin: -15px 15px 0px 0px;
    float: right;
    font-size: 30px;
    display: block;
    text-align: center;
  }
  #player_total{
    margin: 214px -130px 10px 0px;
    float: right;
    font-size: 30px;
    display: block;
    text-align: center;
  }
  #bets{
    font-size: 20px;
    left: 209px;
    top: 413px;
    display: inline-block;
    position: absolute;
  }
  #bet500{
    width: 45px;
    bottom: 27px;
    left: 205px;
  }
  #bet1000{
    width: 45px;
    bottom: 27px;
    left: 275px;
  }
  #bet2000{
    width: 45px;
    bottom: 27px;
    left: 345px;
  }


